.form-field.check-field {
  width: 33%;
  float: left;
}

.fullscreen {
  .photo-fields {
    .form-field {
      width: 49%;
      margin: 0 .5% 1em .5%;
      float: left;
    }
    .edit-image-url-field {
      width: 100%;
    }
    .form-field-caption {
      width: 99%;
      float: none;
      clear: both;
    }
  }
  .form-field.check-field {
    width: 33%;
    float: left;
  }
}

.photo-fields {
  .form-field-alt_tag {
    clear: both;
  }
}

.form-field_thumb_url a { display: none !important; }
