<form>
  {{ widget | start_tab: "fa fa-cogs", "Configs", true }}
  <fieldset>
    <legend>Photo Settings</legend>
    {{ widget.max_width | edit_integer_field: "Max Width", "667", "value_or_default", "gallery-image-max-width", 1, 100000 }}

    {{ widget.max_height | edit_integer_field: "Max Height", "1000", "value_or_default", "gallery-image-max-height", 1, 100000 }}

    {{ widget.use_lazy_load | edit_toggle_field: "Use Lazy Load?", "value_or_default" }}

    <a href="#" data-tags="gallery" data-location-urn='{{ widget.location_urn.value }}' data-client-urn='{{ widget.client_urn.value }}' class="publish-button cloudinary-asset-btn cloudinary-bulk-asset btn confirm cloudinary-upload">Quick Image Upload <i class="fa fa-upload" aria-hidden="true"></i></a>
  </fieldset>

  {{ widget | edit_photo_fields: 3, [], "value", "", "photo", "photo-group" }}

  {{ widget | end_tab }}
  {{ widget | start_tab: "fa fa-tint", "Styles" }}

  {{ widget | edit_photo_overlay, false }}

  {{ widget | end_tab }}

  {{ widget | start_tab: "fa fa-files-o", "Docs"}}
    <h1>G5 Widget Document</h1>
    <p>{{ widget.widget_documentation_link }}</p>
  {{ widget | end_tab: true }}

</form>
