<form>
  {{ widget | start_tab: "fa fa-cogs", "Configs", true }}
  <fieldset>
    <legend>Floor Plans Cards Settings</legend>
  <!-- Header Text -->
  {{ widget.header_text | edit_text_field: "Header Text", "Choose Floor Plan", "value_or_default" }}

  <!-- CTA Text -->
  {{ widget.cta_text | edit_text_field: "CTA Text", "Contact Us", "value_or_default" }}

  <!-- Location URN -->
  {{ widget.location_urn | edit_text_field: "Location URN", "location_urn", "value_or_default", "", true }}

  <!-- open floorplan image in a new tab -->
  {{ widget.open_fp_in_new_tab | edit_toggle_field: "Display Images in a New Tab?", "value_or_default" }}
  </fieldset>
  {{ widget | end_tab }}
  {{ widget | start_tab: "fa fa-tint", "Styles" }}
  <fieldset>
    <legend>Style Settings</legend>
  <!-- Header Color -->
  {{ widget.heading_color | edit_color_field: "Heading Color" }}

  <!-- CTA Color -->
  {{ widget.cta_color | edit_color_field: "CTA Color" }}

  <!-- Accent Color 1 -->
  {{ widget.accent_color_1 | edit_color_field: "Accent Color 1" }}

  <!-- Accent Color 2 -->
  {{ widget.accent_color_2 | edit_color_field: "Accent Color 2" }}

  <!-- Text Color -->
  {{ widget.text_color | edit_color_field: "Text Color" }}

  {{ widget | end_tab }}

  {{ widget | start_tab: "fa fa-files-o", "Docs" }}
    <h1>G5 Widget Document</h1>
    <p>{{ widget.widget_documentation_link }}</p>
  </fieldset>
  {{ widget | end_tab: true }}

</form>
