<form>
  {{ widget | start_tab: "fa fa-cogs", "Configs", true }}
    <fieldset>
      <legend>News Feed Settings</legend>
    <!-- News Service Domain -->
    {{ widget.news_service_domain | edit_url_field: "News Service Domain", "client_nae_url", "value_or_default", "", true }}

    <!-- Location URN -->
    {{ widget.location_urn | edit_text_field: "Location URN", "location_urn", "value_or_default", "", true }}

    <!-- Number of Posts-->
    {{ widget.number_of_posts | edit_integer_field: "Posts Per Page", "5", "value_or_default", "", 1, 20 }}

    <!-- Heading Text -->
    {{ widget.heading_text | edit_text_field: "Heading Text" }}

    <!-- Back To List Text -->
    {{ widget.return_to_list_text | edit_text_field: "Return To List Text", "Return To Blog", "value_or_default" }}

    <!-- See More News Text -->
    {{ widget.see_more_news_text | edit_text_field: "See More News Text", "See More News", "value_or_default" }}

    <!-- Show Share Buttons -->
    {% assign share_buttons_opts = '{"true":"On","false":"Off"}' %}
    {{ widget.share_buttons | edit_radio_field: "Social Share Buttons", share_buttons_opts, "value_or_default" }}

    </fieldset>
  {{ widget | end_tab }}


  {{ widget | start_tab: "fa fa-tint", "Styles" }}
    <fieldset>
      <legend>Style Settings</legend>

      <fieldset>
          <!-- Default Image -->
          {{ widget.default_image | edit_image_field: "Source URL", "", "value_or_default", "", "blog-feed-v2" }}
          <div class="col s5">
            {% assign cropping_opts = '{"fixed":"Fixed", "free":"Free", "none":"None"}' %}
            {{ widget.cropping_style | edit_radio_field: "Cropping", cropping_opts, "value_or_default", }}
          </div>
          <div class="max-width-max-height">
            <div class="col s2 offset-s1">
              {{ widget.cropping_width | edit_integer_field: "Width", "", "value_or_default", "", 1, 100000 }}
            </div>

            <div class="col s2 offset-s1">
              {{ widget.cropping_height | edit_integer_field: "Height", "", "value_or_default", "", 1, 100000 }}
            </div>
            <label class="col s5 push-s1">* Width and height are required for "Fixed" cropping</label>

          </div>
      </fieldset>

      <!-- Button Background Color - See More News -->
      {{ widget.background_color | edit_color_field: "Button Background Color - See More News", "#ffffff", "value_or_default" }}

      <!-- Button Background Color - Read More -->
      {{ widget.read_more_background_color | edit_color_field: "Button Background Color - Read More", "#ffffff", "value_or_default" }}

      <!-- Display Photos Toggle -->
      {{ widget.display_photos | edit_toggle_field: "Display Photos", "value_or_default" }}
    </fieldset>

    <fieldset>
      <legend>Pagination Settings</legend>

      <!-- Pagination Text Color -->
      {{ widget.pagination_text_color | edit_color_field: "Text Color", "#ffffff", "value_or_default" }}

      <!-- Pagination Background Color -->
      {{ widget.pagination_background_color | edit_color_field: "Background Color", "#ffffff", "value_or_default" }}

      <!-- Pagination Active State Background Color -->
      {{ widget.pagination_active_background_color | edit_color_field: "Active Background Color", "#ffffff", "value_or_default" }}

    </fieldset>

    <!-- Design Options -->
    {% assign design_opts = '{"legacy":"Legacy","modern":"Modern"}' %}
    {{ widget.design | edit_radio_field: "Design Options", design_opts, "value_or_default" }}

  {{ widget | end_tab }}


  {{ widget | start_tab: "fa fa-files-o", "Docs"}}
    <h1>G5 Widget Document</h1>
    <p>{{ widget.widget_documentation_link }}</p>
  {{ widget | end_tab: true }}

</form>
