$color1: #00b4ff; /*Royal Blue  -M BG Btn */
$color2: #ffffff; /*White       -L TX Btns */
$color3: #263138; /*Dk-Blue     -D BG Category */
$color4: #ffffff; /*White       -L TX Category */
$color6: #263138; /*Dk-Blue     -D TX Body */

$search-category-dropdown-bg: #dcdddf;
$search-category-dropdown-text: #263138;

.self-storage-search-home {
  font-size: 100%;
  line-height: 1.2;
  width: 100%;
  float: left;
  color: $color6;
  background-color: transparent;

  select {
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    border-radius: 0;
  }

  /* Search Criteria */
  .sss-search-criteria {
    background-color: $color3;
    float: none;
    width: 100%;
    padding: 15px;
    overflow: visible;
    margin: 0 auto;
    h2 {
      letter-spacing: 0;
      font-size: 2em;
    }
  }

  select, .unit-cta {
    margin: 0 0 8px;
  }

  .sss-search-input {
    font-size: 1.125em;
    width: 100%;
    padding: 10px 0;
    border: 0;
    margin: 0 auto 8px;
    text-align: left;
    text-indent: 20px;
    display: block;
    text-transform: capitalize;
    border-radius: 0;
  }

  .sss-search-input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  .twitter-typeahead {
    width: 100%;
    z-index: 1;
    opacity: 0.95;
  }

  .typeahead {
    background-color: #fff;

    &:focus {
      border: 0;
    }
  }

  .tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .tt-menu {
    width: 100%;
    margin: 0;
    padding: 10px 1px 10px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
    }

    &.tt-open .tt-dataset {
      max-height: 180px;
      overflow-y: scroll;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    &:after,
    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      display: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-top-color: rgba(0, 0, 0, 0.49);
      border-width: 7px;
      margin-left: -7px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: $color2;
      border-width: 9px;
      margin-left: -9px;
    }
  }

  .tt-suggestion,
  .tt-no-suggestion {
    padding: 3px 20px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
  }

  .tt-suggestion {
    cursor: pointer;

    &:hover {
      margin-right: 1px;
      color: $color4;
      margin-right: 3px;
      background-color: $color1;
    }

    &.tt-cursor {
      color: $color4;
      background-color: $color1;
    }

    p {
      margin: 0;
    }
  }

  .search-input {
    position: relative;
    z-index: 101;
  }

  .input-clear {
    position: absolute;
    top: 0;
    right: .15em;
    border: 0;
    background: none;
    z-index: 1;
    line-height: .95;
    padding: 13px;
    cursor: pointer;

    &:after {
      cursor: pointer;
      color: #959595;
      display: inline-block;
      content: "\00d7"; /* This will render the 'X' */
    }
  }

  .sss-search-select {
    position: relative;
    width: 100%;
    display: block;
  }

  .sss-search-storage-categories-select {
    font-size: 1.125em;
    background-color: $search-category-dropdown-bg;
    color: $search-category-dropdown-text;
    padding: 10px 20px 10px;
    width: 100%;
  }

  .sss-search-select:after {
    top: 39%;
    right: .85em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-top-color: $search-category-dropdown-text;
    border-width: 6px;
    margin-left: -6px;
  }

  .sss-search-btn {
    cursor: pointer;
    border: none;
    padding: 10px 12px;
    border-radius: 0;
    display: block;
    width: 100%;
    font-size: 1.375em;
    text-decoration: none;
    text-align: center;
  }

  /* RESPONSIVE */
  /* Combo Responsive Classes */
  &.xlarge, &.large{
    .sss-search-criteria {
      width: 42%;
      padding: 23px 23px 38px;
    }
  }

  /* Medium Down */
  &.medium, &.small {
    &.self-storage-search-home {
      float: none;
    }

    .sss-search-criteria {
      padding: 15px;
      h2 {
        margin: 0 0 8px;
      }
    }
  }

  &.medium {
    .sss-search-criteria {
      width: 57%;
    }
  }

  &.small {
    .sss-search-criteria {
      width: 100%;
    }
  }

  /* IE HACKS */
  select::-ms-expand {
    display: none;
  }
}
