{% capture widgetId %}map-v2-{{ widget.id }}{% endcapture %}
<div class="widget map map-v2 {{ widgetId }}" id="{{widgetId}}">

  <script class="config" type="application/json">
    {
      "address": "{{ widget.location_street_address.best_value }}, {{ widget.location_city.best_value }}, {{ widget.location_state.best_value }} {{ widget.location_postal_code.best_value }}",
      "panZoom": {{ widget.map_allow_pan_zoom.best_value }},
      "widgetId": "{{ widgetId }}",
      "styles": {{ widget.map_styles.value_or_default }},
      "latitude" : "{{ widget.location_latitude.value_or_default }}",
      "longitude" : "{{ widget.location_longitude.value_or_default }}",
      "overrides" : {{widget.override_api_settings.value_or_default}}
    }
  </script>

  <div class="canvas"></div>
</div>
