.button { display: block; }

.button .btn {
  text-align: center;
  display: inline-block;
}

.button-display-inline a
.button-display-inline .btn {
  display: inline-block !important;
}

.button-display-block a,
.button-display-block .btn {
  display: block !important;
}

.button .btn-img {
  display: block;
  margin: 0 auto 1em;
}

.button-list .btn-img {
  display: inline-block;
  margin: 0 1em 0 0;
}

/*These are client overrides and must take precedence over other css*/
.button.button-left { text-align: left !important; }
.button.button-center { text-align: center !important; }
.button.button-right { text-align: right !important; }

.button.button-left .btn,
.button.button-center .btn,
.button.button-right .btn { display: inline-block !important; }
