// ********************************************
//
//  Focus Blueprint Theme
//  - Classic Variation
//
// ********************************************

// Boilerplate variables and mixins
@import 'boilerplate/setup';

$min-xlarge: 1512px;
$min-med: 800px;

$border-radius: 0.25rem;
$large-border-radius: 0.5rem;

@mixin border-radius { border-radius: $border-radius; }
@mixin large-border-radius { border-radius: $large-border-radius; }

// Make everything a bit larger
html { font-size: 105%; }


// ============================================
//  Buttons
// ============================================

.widget {
  .btn,
  button,
  input[type=submit] {
    @include border-radius;
  }
}


// ============================================
//  Forms
// ============================================

.widget {
  #{$all-text-inputs},
  textarea,
  select {
    @include border-radius;
  }
}


// ============================================
//  Widgets
// ============================================

// --------------------------------------------
//  Accordion
// --------------------------------------------

.accordion {
  .accordion-section:first-of-type {
    .accordion-section-title {
      border-radius: $border-radius $border-radius 0 0;
    }
  }

  .accordion-section:last-of-type {
    .accordion-section-title {
      border-radius: 0 0 $border-radius $border-radius;

      &.active {
        border-radius: 0;
      }
    }

    .accordion-section-content {
      border-radius: 0 0 $border-radius $border-radius;
    }
  }
}


// --------------------------------------------
//  Blog Feed
// --------------------------------------------

[class*=blog-feed] {
  .news-item-link,
  .all-news-link,
  .post-expand,
  .all-posts {
    @include border-radius;
  }
}


// --------------------------------------------
//  Calls to Action
// --------------------------------------------

.action-calls a {
  @include border-radius;
}


// --------------------------------------------
//  Careers
// --------------------------------------------

.careers {

}


// --------------------------------------------
//  Contact Info Sheet
// --------------------------------------------

.contact-info-sheet {
  @include at-least(667px) {
    .info-sheet-nav { border-radius: 0 $large-border-radius $large-border-radius 0; }
    .info-sheet-content { border-radius: $large-border-radius; }

    &.right .info-sheet-nav { border-radius: $large-border-radius 0 0 $large-border-radius; }
    &.b-right .info-sheet-nav { border-radius: $large-border-radius 0 0 0; }
    &.b-left .info-sheet-nav { border-radius: 0 $large-border-radius 0 0; }

    &.b-right .info-sheet-content { border-radius: $large-border-radius 0 0 $large-border-radius; }
    &.b-left .info-sheet-content { border-radius: 0 $large-border-radius $large-border-radius 0; }
  }
}


// --------------------------------------------
//  Directory
// --------------------------------------------

.directory .directory-heading {
  @include border-radius;

  &.open {
    border-radius: $border-radius $border-radius 0 0 !important;
  }
}


// --------------------------------------------
//  Events
// --------------------------------------------

.events {
  .event-summary { border-radius: $border-radius; }
  .event-title { border-radius: $border-radius $border-radius 0 0; }
  .event-details-button { border-radius: 0 0 $border-radius $border-radius; }
}


// --------------------------------------------
//  Gallery
// --------------------------------------------

.gallery .flex-direction-nav a {
  @include large-border-radius;
}


// --------------------------------------------
//  HTML
// --------------------------------------------

.html .html-content {
  @include border-radius;
}


// --------------------------------------------
//  Social Links
// --------------------------------------------

.social-links .icon {
  @include border-radius;
}


// --------------------------------------------
//  Social Feed
// --------------------------------------------

.social-feed {
  .feed-section { border-radius: 0 $border-radius $border-radius $border-radius; }
  .feed-switch:first-of-type { border-top-left-radius: $border-radius; }
  .feed-switch:last-of-type { border-top-right-radius: $border-radius; }
}


// ============================================
//  Location Widgets
// ============================================

// --------------------------------------------
//  Floor Plans Cards
// --------------------------------------------

.floorplans-cards {
  .floorplan-card,
  .unit-cta-button {
    @include border-radius;
  }

  .floorplan-card-title {
    border-radius: $border-radius $border-radius 0 0;
    text-align: center;
  }
}


// --------------------------------------------
//  Home Multifamily IUI
// --------------------------------------------

.home-multifamily-iui {
  font-size: 0.9em;
  @include at-least($min-msmall) {
    .iui-size {
      .btn {
        border-radius: 0;
      }

      &:first-child .btn {
        border-radius: $border-radius 0 0 $border-radius;
      }

      &:last-child .btn {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }
  }
}




// --------------------------------------------
//  Multifamily IUI Cards
// --------------------------------------------

[class*=multifamily-iui-cards] {
  .iui-cards-view-all,
  .floorplan-card-cta {
    @include border-radius;
  }
}


// --------------------------------------------
//  Self Storage Filtered
// --------------------------------------------

.self-storage-filtered {
  .sss-cat,
  .sss-cat a,
  .sss-unit-matrix,
  .sss-unit-cta .unit-cta {
    @include border-radius;
  }
}


// --------------------------------------------
//  Self Storage IUI Cards
// --------------------------------------------

.self-storage-iui-cards {
  .iui-cards-card,
  .iui-cards-unit-details,
  .iui-cards-special-section {
    @include border-radius;
  }

  .iui-cards-category-special {
    border-radius: 0 0 $border-radius $border-radius;
  }

  .iui-cards-header-arrow {
    border-radius: 0 $border-radius $border-radius;
  }

  .iui-cards-unit-actions a,
  .sss-unit-cta .unit-cta {
    @include border-radius;
  }
}


// --------------------------------------------
//  Self Storage Search Widgets
// --------------------------------------------

[class*=self-storage-search] {
  .sss-search-select,
  .sss-search-input {
    @include border-radius;
  }

  .sss-search-select::after {
    border-radius: 0 $border-radius $border-radius 0;
  }
}


// ============================================
//  Corporate Widgets
// ============================================

// --------------------------------------------
//  City State Zip Search
// --------------------------------------------

.city-state-zip-search {
  .zip-search-input,
  .zip-search-button {
    border-radius: 0 $border-radius $border-radius 0;
  }
}


// --------------------------------------------
//  Locations Navigation
// --------------------------------------------

.locations-navigation {
  h3.locations-navigation-title {
    @include border-radius;
  }

  .locations-navigation-state {
    &:first-child {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }

    &:last-child,
    &:last-child li:last-child {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
}


// ---------------------------------------------
//  Location Mini Search
// ---------------------------------------------

.location-mini-search {
  .search-form {
    @include border-radius;

    .search-filter,
    .btn {
      @include border-radius;
    }
  }

  .xlarge {
    .search-filter {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}


// ---------------------------------------------
//  Location Search
// ---------------------------------------------

.location-search {
  .search-form {
    @include border-radius;
  }

  .search-filter,
  a.loc-search-btn,
  #location-search-container .resultAvailability {
    @include border-radius;
  }

  .xlarge {
    .search-filter {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .loc-search-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}


// ---------------------------------------------
//  Multifamily Search
// ---------------------------------------------

[class*=multifamily-mini-search] {
  .search-form {
    span,
    .search-button button {
      @include border-radius;

      &::after { border-radius: 0 $border-radius $border-radius 0; }
    }
  }
}


// ---------------------------------------------
//  Multifamily Search a.k.a. Corporate Search
// ---------------------------------------------

.multifamily-search,
.mf-search-cloud {
  .search-form {
    span:not(.search-button) {
      @include border-radius;

      &:after {
        border-radius: 0 $border-radius $border-radius 0;
      }
    }
  }

  .search-button,
  .store-summary .resultAvailability {
    @include border-radius;
  }
}


// ============================================
//  Header
// ============================================

[role=banner] .navigation {
  border-radius: $large-border-radius;

  .top-nav > li {
    &:first-child > a {
      border-radius: $large-border-radius $large-border-radius 0 0;
    }

    &:last-child a,
    &.last-link a {
      border-radius: 0 0 $large-border-radius $large-border-radius;
    }
  }
}


@include at-least($min-xlarge) {
  [role=banner] .navigation .last-link a {
    border-radius: 0 0 $large-border-radius $large-border-radius;
  }
}
