.walkscore-listing{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: .9;
  -webkit-transform: translateZ(0);
}

.walkscore-listing.btn{
  padding:0;
}

.walkscore-listing:hover{
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.walkscore-listing a{
  display:block;
  padding: 1em 12px;
}


.walkscore-listing a img{
  vertical-align: baseline;
  margin-right: 8px;
}

.walkscore-listing a span{
  display:inline-block;
  font-weight:bold;
  font-size: 1.4em;
}