{% capture widgetId %}gallery-basic-{{ widget.id }}{% endcapture %}
<div class="gallery-basic widget" id="{{widgetId}}">
  <script class="config" type="application/json">
  {
    "widgetId": "{{widgetId}}",
    "timeout": "{{ widget.slideshow_speed.value_or_default }}"
  }
  </script>

  <figure class="active">
    <img
      src="{{widget.gallery_photo1_url.value}}"
      alt="{{widget.gallery_photo1_alt.value}}"
      {{ widget.gallery_photo1_url.value| srcset }} >
  </figure>

  {% if widget.gallery_photo2_url.value != blank %}
  <figure>
    <img
      src="{{widget.gallery_photo2_url.value}}" alt="{{widget.gallery_photo2_alt.value}}"
      alt="{{widget.gallery_photo2_alt.value}}"
      {{ widget.gallery_photo2_url.value | srcset }} >
  </figure>
  {% endif %}

  {% if widget.gallery_photo3_url.value != blank %}
  <!--
    Set image url in the data-src attribute.
    Set source to 1x1 transparent gif in base64 string.
    This prevents a server request until the js loads the image.
  -->
  <figure class="lazy-load">
    <img
      data-src="{{widget.gallery_photo3_url.value}}"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      alt="{{widget.gallery_photo3_alt.value}}"
      {{ widget.gallery_photo3_url.value | srcset }} >
  </figure>
  {% endif %}

  {% if widget.gallery_photo4_url.value != blank %}
  <figure class="lazy-load">
    <img
      data-src="{{widget.gallery_photo4_url.value}}"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      alt="{{widget.gallery_photo4_alt.value}}"
      {{ widget.gallery_photo4_url.value | srcset }} >
  </figure>
  {% endif %}

  {% if widget.gallery_photo5_url.value != blank %}
  <figure class="lazy-load">
    <img
      data-src="{{widget.gallery_photo5_url.value}}"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      alt="{{widget.gallery_photo5_alt.value}}"
      {{ widget.gallery_photo5_url.value | srcset }} >
  </figure>
  {% endif %}

  {% if widget.gallery_photo6_url.value != blank %}
  <figure class="lazy-load">
    <img
      data-src="{{widget.gallery_photo6_url.value}}"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      alt="{{widget.gallery_photo6_alt.value}}"
      {{ widget.gallery_photo6_url.value | srcset }} >
  </figure>
  {% endif %}

  {% if widget.gallery_photo7_url.value != blank %}
  <figure class="lazy-load">
    <img
      data-src="{{widget.gallery_photo7_url.value}}"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      alt="{{widget.gallery_photo7_alt.value}}"
      {{ widget.gallery_photo7_url.value | srcset }} >
  </figure>
  {% endif %}

  {% if widget.gallery_photo8_url.value != blank %}
  <figure class="lazy-load">
    <img
      data-src="{{widget.gallery_photo8_url.value}}"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      alt="{{widget.gallery_photo8_alt.value}}"
      {{ widget.gallery_photo8_url.value | srcset }} >
  </figure>
  {% endif %}

  {% if widget.gallery_photo9_url.value != blank %}
  <figure class="lazy-load">
    <img
      data-src="{{widget.gallery_photo9_url.value}}"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      alt="{{widget.gallery_photo9_alt.value}}"
      {{ widget.gallery_photo9_url.value | srcset }} >
  </figure>
  {% endif %}

  {% if widget.gallery_photo10_url.value != blank %}
  <figure class="lazy-load">
    <img
      data-src="{{widget.gallery_photo10_url.value}}"
      src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
      alt="{{widget.gallery_photo10_alt.value}}"
      {{ widget.gallery_photo10_url.value | srcset }} >
  </figure>
  {% endif %}

</div> <!-- end .gallery-basic -->
