<div class="corporate-search widget multifamily-search">
  <div id="corp-search-container"></div>

  <style>
    {% if widget.text_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper{color:{{widget.text_color.best_value}}}
    {% endif %}
    {% if widget.search_button_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .search-form .search-button,
    .multifamily-search.corporate-search .search-form button{background-color:{{widget.search_button_color.best_value}}}
    {% endif %}
    {% if widget.photo_border_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .store-summary .resultPhoto img{border:1px solid {{widget.photo_border_color.best_value}}}
    {% endif %}


    /* The OG paired styles */
    {% if widget.pagination_background_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .pagination-nav span.next{border-left: 15px solid {{widget.pagination_background_color.value}}}
    .multifamily-search .corpSearchWrapper .pagination-nav a.next{border-left: 15px solid {{widget.pagination_background_color.value}}}
    .multifamily-search .corpSearchWrapper .pagination-nav span.previous{border-right: 15px solid {{widget.pagination_background_color.value}}}
    .multifamily-search .corpSearchWrapper .pagination-nav a.previous{border-right: 15px solid {{widget.pagination_background_color.value}}}
    .multifamily-search .corpSearchWrapper .pagination-nav a.page,
    .multifamily-search .corpSearchWrapper .pagination-nav .range{color:{{widget.pagination_background_color.value}}}
    .multifamily-search .corpSearchWrapper .pagination-nav span.page{background:{{widget.pagination_background_color.value}}}
    {% endif %}

    {% if widget.pagination_text_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .pagination-nav span.page {color:{{widget.pagination_text_color.value}}}
    {% endif %}



    {% if widget.card_background_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .store-summary {background:{{widget.card_background_color.best_value}}}
    {% endif %}
    {% if widget.card_text_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .store-summary {color:{{widget.card_text_color.best_value}}}
    {% endif %}
    {% if widget.unit_info_border.best_value != '' %}
    .multifamily-search .corpSearchWrapper .store-summary .resultUnitInfo{border-top:1px solid {{widget.unit_info_border.best_value}}; border-bottom:1px solid {{widget.unit_info_border.best_value}};}
    {% endif %}
    {% if widget.cta_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .store-summary .resultAvailability,
    .multifamily-search.corporate-search .store-summary .resultAvailability{background-color:{{widget.cta_color.best_value}}}
    {% endif %}
    {% if widget.cta_text_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .store-summary .resultAvailability{color:{{widget.cta_text_color.best_value}}}
    {% endif %}
    {% if widget.header_text_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .search-form h2{color:{{widget.header_text_color.best_value}}}
    {% endif %}
    {% if widget.search_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .search-form span{color:{{widget.search_color.best_value}}}
    .multifamily-search .corpSearchWrapper .search-form button{color:{{widget.search_color.best_value}}}
    {% endif %}
    {% if widget.dropdown_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .search-form span{background:{{widget.dropdown_color.best_value}}}
    .multifamily-search .corpSearchWrapper .search-form-inner span.locations-loading > select{color: {{widget.dropdown_color.best_value}}}
    .multifamily-search .corpSearchWrapper .search-form-inner .loading-gray{background-color: {{widget.dropdown_color.best_value}}}
    {% endif %}
    {% if widget.dropdown_text_color.best_value != '' %}
    .multifamily-search .corpSearchWrapper .search-form-inner span select{color: {{widget.dropdown_text_color.best_value}}}
    .multifamily-search .corpSearchWrapper .search-form-inner span option{color: {{widget.dropdown_text_color.best_value}}}
    .multifamily-search .corpSearchWrapper .search-form-inner span label{color: {{widget.dropdown_text_color.best_value}}}
    {% endif %}
    {% if widget.search_background.best_value != '' %}
    .multifamily-search .corpSearchWrapper .search-form{background:{{widget.search_background.best_value}}}
    {% endif %}
    {% if widget.search_filter_text_color.value != '' %}
    .corpSearchWrapper .search-form select,
    .corpSearchWrapper .search-form label {color:{{widget.search_filter_text_color.value}}}
    {% endif %}
    {% if widget.dropdown_text_color.value != blank %}
    .multifamily-search .corpSearchWrapper .search-form .state:after,
    .multifamily-search .corpSearchWrapper .search-form .city:after,
    .multifamily-search .corpSearchWrapper .search-form .neighborhood:after,
    .multifamily-search .corpSearchWrapper .search-form .bedrooms:after,
    .multifamily-search .corpSearchWrapper .search-form .bathrooms:after{
      top: 45%;
      right: 4%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: {{widget.dropdown_text_color.value}};
      border-width: 6px;
      margin-left: -6px;
    }
    .multifamily-search .corpSearchWrapper .search-form select{
      background: none;
    }
    {% endif %}
  </style>

  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.0.0/mapbox.css' rel='stylesheet' />

  <meta id="ember-meta" name="multi-family-search/config/environment">
  <script type="text/javascript">
    if (typeof(window.G5) === 'undefined'){
      window.G5 = {};
    }
    window.G5.corpSearchContainer = 'corp-search-container';
    window.G5.clientId = '{{ widget.core_client_id.best_value }}';
    window.G5.serviceHost = "{{ widget.core_service_url.best_value }}";

    var EmberAppConfig = {
     "modulePrefix":"multi-family-search",
     "environment":"production",
     "baseURL":"/",
     "EmberENV":{
        "ORION_URL": "{{ widget.orion_single_domain.value }}",
        "PAGINATION":{"PER_PAGE":"{{ widget.per_page.best_value }}"},
        "THRESHOLD": {
          "AVAILABLE": "{{ widget.available_threshold.best_value }}",
          "CTA_AVAILABLE_TEXT": "{{ widget.cta_available_text_threshold.best_value }}",
          "CTA_LIMITED_TEXT": "{{ widget.cta_limited_text_threshold.best_value }}"
        },
        "CTAS":{
          "CTA_AVAILABLE_TEXT": "{{ widget.cta_available_text.best_value }}",
          "CTA_LIMITED_TEXT": "{{ widget.cta_limited_text.best_value }}",
          "CTA_LOW_TEXT": "{{ widget.cta_low_text.best_value }}"
        },
        "HEADING_TEXT": "{{ widget.heading_text.best_value }}",
        "LINKS_USE_TARGET_BLANK": "{{ widget.links_use_target_blank.value_or_default }}",
        "CLIENT_VERTICAL_SLUG": "{{ widget.client_vertical_slug.value_or_default }}",
        "FEATURES":{},
        "CLIENT_URN": "{{ widget.client_urn.value_or_default }}",
        "cpnsUrl": "{{widget.client_cpns_url.value_or_default}}"
     },
     "APP":{}
    }
    document.getElementById("ember-meta").content = JSON.stringify(EmberAppConfig)
  </script>

</div>
